body {
  background-color: #252525;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: .25px;
  max-width: 60em;
  margin: auto;
  padding: 2vmin;
  word-wrap: break-word;
}